body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.calculator {
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: white;
}

.display {
    background-color: #222;
    color: white;
    text-align: right;
    padding: 20px;
    font-size: 2em;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.btn {
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    font-size: 1.5em;
    cursor: pointer;
    outline: none;
    transition: background-color 0.2s;
}


.btn1 {
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    font-size: 1.5em;
    cursor: pointer;
    outline: none;
    transition: background-color 0.2s;
}

.btn:hover {
    background-color: #f1f1f1;
}

.btn:active {
    background-color: #ddd;
}

#equal {
    grid-column: span 4;
    background-color: #f39c12;
    color: white;
}
